<div class="card">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Имитация сканирования новой вещи</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="HideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <cui-decimal-control [model]="newSensor"
                              key="name"
                              label="ID товара"
                              [value]="newSensor.id"
                              (changedByUser)="newSensor.id = $event"
        >
        </cui-decimal-control>

        <div class="float-right ml-3">
            <button [title]="'Добавить'"
                    [class]="'btn btn-success btn-block'"
                    (click)="AddSensor()"
            >
                Добавить
            </button>
        </div>
    </div>
</div>
