<div class="card-body">
  <div class="pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a [ngClass]=" isShowCommon ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowCommon); isShowCommon = true;"
        >
          Коробки доставки
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" isShowReturn ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowReturn);  isShowReturn = true;"
        >
          Коробки возврата
        </a>
      </li>
    </ul>
  </div>

  <box-list *ngIf="isShowCommon"></box-list>
  <return-box-list *ngIf="isShowReturn"></return-box-list>
</div>
