<header class="app-header navbar">
<!--  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
 <ul class="nav navbar-nav d-md-down-none">
  <li class="nav-item px-3">
    <a class="nav-link" [routerLink]="['/orders']">Заказы</a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link" [routerLink]="['/boxes']">Коробки</a>
  </li>
  <li class="nav-item px-3">
    <a class="nav-link" href="#">Ошибки поступления</a>
  </li>
</ul>
  <ul class="nav navbar-nav ml-auto pr-3">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        operator1@mail.ru
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
    <div class="pr-2 pl-2">
        <button class="btn btn-warning pl-2 pr-2" (click)="isInternetWorking = true" *ngIf="isInternetWorking">
            Синхронизировать данные с удаленным сервером
        </button>
    </div>
    <div class="pr-2 pl-2">
        <button class="btn btn-info" (click)="isInternetWorking = false" *ngIf="isInternetWorking">Отключить интернет</button>
    </div>
    <div class="pr-2 pl-2">
        <button class="btn btn-success " (click)="isInternetWorking = true" *ngIf="!isInternetWorking">Включить интернет</button>
    </div>
    <div class="pr-2">
        <span *ngIf="!isInternetWorking" style="color: red"><i><b>Интернет соединение отсутствует</b></i></span>
        <span *ngIf="isInternetWorking" style="color: blue"><i><b>Интернет соединение присутствует</b></i></span>
    </div>
</header>
