
<div class="card-body">
  <div class="pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a [ngClass]=" isShowOrders ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowOrders); isShowOrders = true;"
        >
          Заказы
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" isShowOrderItems ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowOrderItems);  isShowOrderItems = true;"
        >
          Заказанные вещи
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" isShowWrongItems ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowWrongItems);  isShowWrongItems = true;"
        >
          Ошибочные вещи
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" isShowReturnItems ? 'nav-link active' : 'nav-link'"
           [routerLink]="[]"
           (click)="UpdateShowingPage(isShowReturnItems);  isShowReturnItems = true;"
        >
          Вещи на возврат
        </a>
      </li>
    </ul>
  </div>

  <order-list *ngIf="isShowOrders"></order-list>
  <order-thing-list *ngIf="isShowOrderItems"></order-thing-list>
  <wrong-thing-list *ngIf="isShowWrongItems"></wrong-thing-list>
  <return-list *ngIf="isShowReturnItems"></return-list>
</div>
