<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
<!--    <ol class="breadcrumb">-->
<!--&lt;!&ndash;      <app-breadcrumbs></app-breadcrumbs>&ndash;&gt;-->
<!--      &lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
<!--      <li class="breadcrumb-menu d-md-down-none">-->
<!--        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
<!--          <a class="btn" href="#"><i class="icon-speech"></i></a>-->
<!--          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
<!--          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ol>-->
    <div class="container-fluid pt-3">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div><!-- /.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>
